.Address
  .g-wrapper
    .Address__container
      .Address__contacts
        a.Address__link(href="#") mail@asda.com
        a.Address__link(href="#") +7 964 850 49 35
        a.Address__link(href="#") Пресненская наб. д.6 стр. 2, офис 123
      .Address__select.Select(tabindex="1")
        .Select__label Санкт-Петербург
        .Select__options
          .Select__option Санкт-Петербург
          .Select__option Москва
          .Select__option Антверпен

