section.Company
  .g-wrapper
    .Company__content
      .Company__heading
        img(src="../../images/icon-company.svg").Company__icon
        .Company__inner
          .Company__subtitle Узнайте больше
          .Company__title О компании
      .Company__block
        .Company__top
          .Company__left
            .Company__text <span>ООО «СК  Белмакс»</span>  – динамично развивающаяся судоходная компания, являющаяся владельцем инновационных судов на российском рынке грузовых перевозок внутренними водными путями. Флот компании состоит преимущественно из мелкосидящх нефтеналивных барж с двойными бортами, обладающих повышенной вместимостью и позволяющих перевозить до 6000тонн грузов по реке Белая
            .Company__text Размещение концентрирует коллективный conversion rate. Позиционирование на рынке директивно оправдывает креативный клиентский спрос. Узнаваемость марки категорически специфицирует сублимированный продуктовый ассортимент, расширяя долю рынка
          .Company__right
            img(src='../../images/company-image.png').Company__image
        .Company__bottom
          .Company__left
            img(src='../../images/company-image2.png').Company__image
          .Company__right.Company__right_border
            .Company__inside
              .Company__clients Наши клиенты
              .Company__text.Company__text_center Мы сотрудничаем с большим количеством компаний, некоторые из которых могут быть у Вас на слуху
              .Company__partners
                img(src="../../images/partner-1.svg").Company__partner
                img(src="../../images/partner-2.svg").Company__partner


