section.Contacts
  .g-wrapper
    .Contacts__wrapper
      .Contacts__heading
        .Contacts__subtitle Оставляем Вам
        .Contacts__title Наши контакты
      .Contacts__office
        .Contacts__title.Contacts__title_small Выберите офис:
        .Contacts__tabs
          .Contacts__tab.Contacts__tab_active
            .Contacts__tab_pin
              .Contacts__tab_pin_active
            .Contacts__tab_address
              .Contacts__tab_city Москва
              .Contacts__tab_where
                include ../../images/Place.svg
                .Contacts__tab_text Пресненская наб. д.6 стр. 2, офис 123
          .Contacts__tab
            .Contacts__tab_pin
              .Contacts__tab_pin_active
            .Contacts__tab_address
              .Contacts__tab_city Санкт-Петербург
              .Contacts__tab_where
                include ../../images/Place.svg
                .Contacts__tab_text Пресненская наб. д.6 стр. 2, офис 123
          .Contacts__tab
            .Contacts__tab_pin
              .Contacts__tab_pin_active
            .Contacts__tab_address
              .Contacts__tab_city Антверпен
              .Contacts__tab_where
                include ../../images/Place.svg
                .Contacts__tab_text Пресненская наб. д.6 стр. 2, офис 123

  .Contacts__map
    .Contacts__content.Contacts__content_active
      .Contacts__mapblock
        img(src="../../images/Map.png").Contacts__map_img
      .Contacts__form
        .Contacts__form_title
          img(src='../../images/World.svg').Contacts__form_img
          .Contacts__form_city Москва
        .Contacts__form_item
          .Contacts__form_subtitle Телефон:
          .Contacts__form_line
            img(src='../../images/Phone.svg')
            a(href="tel:+74959995555").Contacts__form_link +7 (495) 999-55-55
        .Contacts__form_item
          .Contacts__form_subtitle E-mail:
          .Contacts__form_line
            img(src='../../images/Envelope.svg')
            a(href="mailto:").Contacts__form_link info@belmaks.com
        .Contacts__form_item
          .Contacts__form_subtitle Адрес:
          .Contacts__form_line
            img(src='../../images/Place.svg')
            .Contacts__form_link Пресненская наб. д.6 стр. 2, офис 123
        .Contacts__form_button: <img src="../../images/Chat.png"/> Написать нам
    .Contacts__content
      .Contacts__mapblock
        img(src="../../images/Map.png").Contacts__map_img
      .Contacts__form
        .Contacts__form_title
          img(src='../../images/World.svg').Contacts__form_img
          .Contacts__form_city Санкт-Петербург
        .Contacts__form_item
          .Contacts__form_subtitle Телефон:
          .Contacts__form_line
            img(src='../../images/Phone.svg')
            a(href="tel:+74959995555").Contacts__form_link +7 (495) 999-55-55
        .Contacts__form_item
          .Contacts__form_subtitle E-mail:
          .Contacts__form_line
            img(src='../../images/Envelope.svg')
            a(href="mailto:").Contacts__form_link info@belmaks.com
        .Contacts__form_item
          .Contacts__form_subtitle Адрес:
          .Contacts__form_line
            img(src='../../images/Place.svg')
            .Contacts__form_link Пресненская наб. д.6 стр. 2, офис 123
        .Contacts__form_button: <img src="../../images/Chat.png"/> Написать нам
    .Contacts__content
      .Contacts__mapblock
        img(src="../../images/Map.png").Contacts__map_img
      .Contacts__form
        .Contacts__form_title
          img(src='../../images/World.svg').Contacts__form_img
          .Contacts__form_city Антверпен
        .Contacts__form_item
          .Contacts__form_subtitle Телефон:
          .Contacts__form_line
            img(src='../../images/Phone.svg')
            a(href="tel:+74959995555").Contacts__form_link +7 (495) 999-55-55
        .Contacts__form_item
          .Contacts__form_subtitle E-mail:
          .Contacts__form_line
            img(src='../../images/Envelope.svg')
            a(href="mailto:").Contacts__form_link info@belmaks.com
        .Contacts__form_item
          .Contacts__form_subtitle Адрес:
          .Contacts__form_line
            img(src='../../images/Place.svg')
            .Contacts__form_link Пресненская наб. д.6 стр. 2, офис 123
        .Contacts__form_button: <img src="../../images/Chat.png"/> Написать нам



