section.Flot
  .g-wrapper
    .Flot__content
      .Flot__heading
        img(src="../../images/icon-flot1.svg").Flot__heading_img
        .Flot__heading_center
          .Flot__subtitle Смотрите наш
          .Flot__title Флот
        img(src="../../images/icon-flot2.svg").Flot__heading_img
      .Flot__tabs
        .Flot__tab.Flot__tab_active Нефтеналивные баржи
        .Flot__tab Танкеры RST-25
        .Flot__tab Буксиры-толкачи
      .Flot__blocks
        .Flot__block.Flot__block_active
          .Flot__left
            .Flot__name Нефтеналивные баржи Белмакс
            .Flot__inside
              .Flot__category Основные характеристики:
              .Flot__category_block.Flot__category_block_bb
                .Flot__category_item <span>Длина:</span> 118м
                .Flot__category_item <span>Объем:</span> 6870 м³
                .Flot__category_item <span>Ширина:</span> 22 м
                .Flot__category_item <span>Осадка:</span> 2.75 м
                .Flot__category_item <span>Дедвейт:</span> 6013 тонн
                .Flot__category_item <span>Кол-во грузовых танков:</span> 12
            .Flot__inside
              .Flot__category Названия судов:
              .Flot__category_block
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item.Flot__category_item_more Посмотреть все суда
          .Flot__right
            div 123
