section.Flot
  .g-wrapper
    .Flot__content
      .Flot__heading
        img(src="../../images/icon-flot1.svg").Flot__heading_img
        .Flot__heading_center
          .Flot__subtitle Смотрите наш
          .Flot__title Флот
        img(src="../../images/icon-flot2.svg").Flot__heading_img
      .Flot__tabs
        .Flot__tab.Flot__tab_active Нефтеналивные баржи
        .Flot__tab Танкеры RST-25
        .Flot__tab Буксиры-толкачи
      .Flot__blocks

        .Flot__block.Flot__block_active
          .Flot__left
            .Flot__name Нефтеналивные баржи Белмакс
            .Flot__inside
              .Flot__category Основные характеристики:
              .Flot__category_block.Flot__category_block_bb
                .Flot__category_item <span>Длина:</span> 118м
                .Flot__category_item <span>Объем:</span> 6870 м³
                .Flot__category_item <span>Ширина:</span> 22 м
                .Flot__category_item <span>Осадка:</span> 2.75 м
                .Flot__category_item <span>Дедвейт:</span> 6013 тонн
                .Flot__category_item <span>Кол-во грузовых танков:</span> 12
            .Flot__inside
              .Flot__category Названия судов:
              .Flot__category_block
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item.Flot__category_item_more Посмотреть все суда
          .Flot__right
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_first#Flot-first-top
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
              .Flot__slider_button.Flot__slider_button_next.swiper-button-next#Flot-first-but-next
                include ../../images/next.svg
              .Flot__slider_button.Flot__slider_button_prev.swiper-button-prev#Flot-first-but-prev
                include ../../images/back.svg
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_thumb#Flot-first-thumb
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')


        .Flot__block
          .Flot__left
            .Flot__name Танкеры RST-25
            .Flot__inside
              .Flot__category Основные характеристики:
              .Flot__category_block.Flot__category_block_bb
                .Flot__category_item <span>Длина:</span> 118м
                .Flot__category_item <span>Объем:</span> 6870 м³
                .Flot__category_item <span>Ширина:</span> 22 м
                .Flot__category_item <span>Осадка:</span> 2.75 м
                .Flot__category_item <span>Дедвейт:</span> 6013 тонн
                .Flot__category_item <span>Кол-во грузовых танков:</span> 12
            .Flot__inside
              .Flot__category Названия судов:
              .Flot__category_block
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item.Flot__category_item_more Посмотреть все суда
          .Flot__right
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_first#Flot-second-top
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
              .Flot__slider_button.Flot__slider_button_next.swiper-button-next#Flot-second-but-next
                include ../../images/next.svg
              .Flot__slider_button.Flot__slider_button_prev.swiper-button-prev#Flot-second-but-prev
                include ../../images/back.svg
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_thumb#Flot-second-thumb
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')

        .Flot__block
          .Flot__left
            .Flot__name Буксиры-толкачи
            .Flot__inside
              .Flot__category Основные характеристики:
              .Flot__category_block.Flot__category_block_bb
                .Flot__category_item <span>Длина:</span> 118м
                .Flot__category_item <span>Объем:</span> 6870 м³
                .Flot__category_item <span>Ширина:</span> 22 м
                .Flot__category_item <span>Осадка:</span> 2.75 м
                .Flot__category_item <span>Дедвейт:</span> 6013 тонн
                .Flot__category_item <span>Кол-во грузовых танков:</span> 12
            .Flot__inside
              .Flot__category Названия судов:
              .Flot__category_block
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item Name Belmaks Flot
                .Flot__category_item.Flot__category_item_more Посмотреть все суда
          .Flot__right
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_first#Flot-third-top
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image.png').Flot__slider_img
                  .Flot__slider_slide.swiper-slide
                    img(src='../../images/company-image2.png').Flot__slider_img
              .Flot__slider_button.Flot__slider_button_next.swiper-button-next#Flot-third-but-next
                include ../../images/next.svg
              .Flot__slider_button.Flot__slider_button_prev.swiper-button-prev#Flot-third-but-prev
                include ../../images/back.svg
            .Flot__slider_wrap
              .Flot__slider_container.swiper-container.Flot__slider_thumb#Flot-third-thumb
                .Flot__slider_wrapper.swiper-wrapper
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image.png')
                  .Flot__slider_slide_thumb.swiper-slide
                    img(src='../../images/company-image2.png')

