footer.Footer
  .g-wrapper
    .Footer__content
      .Footer__left
        .Footer__text © 2018 ООО СК «Белмакс». Все права защищены
      .Footer__right
        .Footer__text.Footer__rules Правила и условия
        .Footer__text.Footer__politics Политика конфиденциальности
