section.Gallery
  .Gallery__top
    a(href="../../images/gallery-1.png").Gallery__item
      img(src="../../images/gallery-1.png")

    a(href="../../images/gallery-2.png").Gallery__item
      img(src="../../images/gallery-2.png")

    a(href="../../images/gallery-3.png").Gallery__item
      img(src="../../images/gallery-3.png")

  .Gallery__bottom
    a(href="../../images/gallery-4.png").Gallery__item
      img(src="../../images/gallery-4.png")

    a(href="../../images/gallery-5.png").Gallery__item
      img(src="../../images/gallery-5.png")

    a(href="../../images/gallery-6.png").Gallery__item
      img(src="../../images/gallery-6.png")

    a(href="../../images/gallery-7.png").Gallery__item
      img(src="../../images/gallery-7.png")

