header.Header
  include _address.pug
  .Header__top
    .g-wrapper
      .Header__container
        a.Header__logo(href="/"): img(src="/images/logo.svg")
        nav.Header__menu.Menu
          a.Menu__link(href="/about.html") О компании
          a.Menu__link(href="/flot.html") Флот
          a.Menu__link(href="/news.html") Пресс-центр
          a.Menu__link(href="/contacts.html") Контакты

  .Header__content
    .Header__slider_container.swiper-container
      .Header__slider_wrapper.swiper-wrapper
        .Header__slider.swiper-slide
          h1.Header__heading Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта «Белмакс»
          p.Header__text 1 мая состоялся спуск на воду первой баржи проекта ROB - 20. В 2018 году судостроительный завод Красное Сормово построит и введет в эксплуатацию еще 6 таких барж
          button.Header__button Узнать подробнее
        .Header__slider.swiper-slide
          h1.Header__heading Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта «Белмакс»
          p.Header__text 1 мая состоялся спуск на воду первой баржи проекта ROB - 20. В 2018 году судостроительный завод Красное Сормово построит и введет в эксплуатацию еще 6 таких барж
          button.Header__button Узнать подробнее
        .Header__slider.swiper-slide
          h1.Header__heading Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта «Белмакс»
          p.Header__text 1 мая состоялся спуск на воду первой баржи проекта ROB - 20. В 2018 году судостроительный завод Красное Сормово построит и введет в эксплуатацию еще 6 таких барж
          button.Header__button Узнать подробнее
      .Header__slider_button.Header__slider_button_prev.swiper-button-prev
        include ../../images/arrow-right-slider.svg
      .Header__slider_button.Header__slider_button_next.swiper-button-next
        include ../../images/arrow-right-slider.svg
    .Header__slider_pagination.swiper-pagination
