header.Header
  include _address.pug
  .Header__top
    .g-wrapper
      .Header__container
        a.Header__logo(href="/"): img(src="/images/logo.svg")
        nav.Header__menu.Menu
          a.Menu__link(href="#") О компании
          a.Menu__link(href="#") Флот
          a.Menu__link(href="#") Пресс-центр
          a.Menu__link(href="#") Контакты
  .Header__content
    .Header__slider
      h1.Header__heading Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта «Белмакс»
      p.Header__text 1 мая состоялся спуск на воду первой баржи проекта ROB - 20. В 2018 году судостроительный завод Красное Сормово построит и введет в эксплуатацию еще 6 таких барж
      button.Header__button Узнать подробнее
