.Mini-header
  include _address.pug
  .Header__top
    .g-wrapper
      .Header__container
        a.Header__logo(href="/"): img(src="/images/logo.svg")
        nav.Header__menu.Menu
          a.Menu__link(href="/about.html") О компании
          a.Menu__link(href="/flot.html") Флот
          a.Menu__link(href="/news.html") Пресс-центр
          a.Menu__link(href="/contacts.html") Контакты
  .g-wrapper
    .Mini-header__breadcrumbs
      a(href="/").Mini-header__breadcrumbs_link.Mini-header__breadcrumbs_link_main
        span На главную
      .Mini-header__breadcrumbs_separator
      a(href="/").Mini-header__breadcrumbs_link.Mini-header__breadcrumbs_link_current
        span Пресс-центр
    .Mini-header__title Пресс-центр

