section.News
  .News__replica
    .News__replica_title Мы являемся серьезным игроком на судоходном рынке. Без сомнений!
    .News__replica_whois
      img(src="../../images/director.png").News__replica_img
      .News__replica__director
        .News__replica_name Леонид Иванович Петров
        .News__replica_post Генеральный директор
  .g-wrapper
    .News__content
      .News__header
        .News__caption Пресс-центр
        a(href="#").News__section Перейти в раздел
          span
            include ../../images/next.svg
      .News__block
        .News__left
          .News__subcaption Горячие новости:
          .News__hot
            a(href="#").News__item
              img(src="../../images/news-1.png").News__image
              .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
              .News__title Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта <span>«Белмакс»</span>
              .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
            a(href="#").News__item
              img(src="../../images/news-2.png").News__image
              .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
              .News__title Итоги работы ООО СК <span>«Белмакс»</span> за первый квартал 2017 года
              .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
        .News__right
          .News__subcaption Другие новости:
          .News__etc
            a(href="#").News__element
              .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
              .News__title.News__title_small Итоги работы ООО СК <span>«Белмакс»</span> за первый квартал 2017 года
            a(href="#").News__element
              .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
              .News__title.News__title_small Работники <span>«Белмаксa»</span> удостоены государственных наград
            a(href="#").News__element
              .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
              .News__title.News__title_small <span>«Белмакс»</span> и Сбербанк заключили новое соглашение о проектном финансировании на сумму $106 млн.
      .News__footer
        .News__button: <img src="../../images/Refresh.png"> Показать больше
