section.Press
  .g-wrapper
    .News__block
      .News__left
        .News__subcaption Горячие новости:
        .News__hot
          a(href="#").News__item
            img(src="../../images/news-1.png").News__image
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта <span>«Белмакс»</span>
            .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
          a(href="#").News__item
            img(src="../../images/news-1.png").News__image
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта <span>«Белмакс»</span>
            .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
          a(href="#").News__item
            img(src="../../images/news-1.png").News__image
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта <span>«Белмакс»</span>
            .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
          a(href="#").News__item
            img(src="../../images/news-1.png").News__image
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title Ввод в эксплуатацию мелкосидящих нефтеналивных барж проекта <span>«Белмакс»</span>
            .News__text Еще Траут показал, что стратегическое планирование естественно отражает связанный комплексный анализ ситуации...
      .News__right
        .News__subcaption Другие новости:
        .News__etc
          a(href="#").News__element
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title.News__title_small Итоги работы ООО СК <span>«Белмакс»</span> за первый квартал 2017 года
          a(href="#").News__element
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title.News__title_small Работники <span>«Белмаксa»</span> удостоены государственных наград
          a(href="#").News__element
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title.News__title_small <span>«Белмакс»</span> и Сбербанк заключили новое соглашение о проектном финансировании на сумму $106 млн.
          a(href="#").News__element
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title.News__title_small <span>«Белмакс»</span> и Сбербанк заключили новое соглашение о проектном финансировании на сумму $106 млн.
          a(href="#").News__element
            .News__date: <img src="../../images/Pen.svg"> 21/04/2017 в 14:47
            .News__title.News__title_small <span>«Белмакс»</span> и Сбербанк заключили новое соглашение о проектном финансировании на сумму $106 млн.
    .Press__navigation
      a(href="#").Press__left
        include ../../images/double-arrow.svg
      a(href="#").Press__pages
        a(href="#").Press__page.Press__page_current 1
        a(href="#").Press__page 2
        a(href="#").Press__page 3
        a(href="#").Press__page ...
        a(href="#").Press__page 42
        a(href="#").Press__page 43
        a(href="#").Press__page 44
      a(href="#").Press__right
        include ../../images/double-arrow-next.svg
