@import './_fonts.styl'
@import './_global.styl'

@import 'blocks/_company.styl'
@import 'blocks/_contacts.styl'
@import 'blocks/_flot.styl'
@import 'blocks/_footer.styl'
@import 'blocks/_gallery.styl'
@import 'blocks/_news.styl'
@import './blocks/_address.styl'
@import './blocks/_header.styl'
@import './blocks/_mini-header.styl'
@import './blocks/_press-centr.styl'
