.Company
  position relative
  padding 13rem 0 16rem
  &:before
    content 'ФЛОТ'
    position absolute
    left -8%
    bottom 0
    font-size 22rem
    font-weight 800
    opacity 0.04
    z-index -1
  &:after
    content 'СУДОХОДСТВО'
    position absolute
    right -8%
    top 14%
    font-size 12rem
    font-weight 800
    opacity 0.04
    z-index -1
  &__heading
    display flex
    justify-content flex-start
    align-items flex-start
    margin-bottom 6rem
  &__icon
    width 4.8rem
    height 6.4rem
    object-fit contain
    margin-right 3rem
  &__subtitle
    font-family OpenSans
    font-weight 600
    font-size 1.8rem
    margin-bottom -1rem
    opacity 0.2
  &__title
    font-family OpenSans
    font-weight 700
    font-size 4.6rem
  &__top
    display flex
    justify-content space-between
    align-items stretch
    margin-bottom 3rem
  &__bottom
    display flex
    justify-content space-between
    align-items stretch
  &__left
    width 48%
  &__right
    width 48%
    &_border
      position relative
      border 0.1rem solid #0690AF
      &:before
        content ''
        position absolute
        top 1rem
        left 50%
        transform translateX(-50%)
        width 90%
        height 0.1rem
        background #0690AF
      &:after
        content ''
        position absolute
        bottom 1rem
        left 50%
        transform translateX(-50%)
        width 90%
        height 0.1rem
        background #0690AF
  &__inside
    position relative
    padding 5.6rem 5rem 7rem
    width 100%
    height 100%
    &:after
      content ''
      position absolute
      top 50%
      left 1rem
      transform translateY(-50%)
      width 0.1rem
      height 86%
      background #0690AF
    &:before
      content ''
      position absolute
      top 50%
      right 1rem
      transform translateY(-50%)
      width 0.1rem
      height 86%
      background #0690AF
  &__text
    font-weight 400
    font-size 1.6rem
    line-height 2.6rem
    margin-bottom 2.2rem
    &:last-child
      margin-bottom 0
    & span
      font-weight 600
    &_center
      text-align center
  &__image
    width 100%
    object-fit cover
  &__clients
    text-align center
    font-family RobotoSlab
    font-weight 700
    font-size 3rem
    margin-bottom 2.8rem
  &__partners
    display flex
    justify-content space-between
    align-items flex-end
  &__partner
    width 100%
    object-fit contain
    max-width 20rem

@media (max-width 1000px)
  .Company
    &__top,&__bottom
      display block
    &__icon
      width 4.2rem
      height 5.6rem
    &__title
      font-size 3.6rem
    &__subtitle
      font-size 1.6rem
    &__text
      font-size 1.6rem
    &__left
      width 100%
      margin-bottom 2rem
    &__right
      width 100%
    &__image
      width 100%
      max-width 55rem
      display block
      margin 0 auto

@media (max-width 667px)
  .Company
    &__partners
      display block
    &__icon
      width 3.6rem
      height 4.6rem
    &__title
      font-size 2.4rem
    &__subtitle
      font-size 1.4rem
    &__text
      font-size 1.4rem
    &__heading
      margin-bottom 4rem
    &__partner
      display block
      margin 0 auto 2rem
