.Footer
  padding 3.4rem 0
  &__content
    display flex
    justify-content space-between
  &__left
    width 50%
  &__right
    width 44%
    display flex
    justify-content flex-end
  &__rules
    margin-right 4rem
    cursor pointer
  &__politics
    cursor pointer
  &__text
    font-size 1.4rem
    font-weight 600
    color RGB(159, 159, 159)
