.Mini-header
  background url('../../images/mini-bg.png') center center/cover no-repeat
  padding 26rem 0 12rem
  &__breadcrumbs
    display flex
    justify-content flex-start
    align-items center
    margin-bottom 5rem
    &_link
      font-family OpenSans
      font-weight 600
      color white
      font-size 1.6rem
      margin-right 2rem
      &_main
        position relative
        padding-left 3rem
        &:after
          content ''
          width 14px
          height 10px
          background url('../../images/long-arrow.svg') center center/contain no-repeat
          position absolute
          left: 0;
          top: 50%;
          transform: translateY(-50%);
      & svg
        margin-right 1rem
      &_current
        opacity 0.5
    &_separator
      position relative
      width 6px
      height 10px
      margin-right 2rem
      &:after
        content ''
        width 6px
        height 10px
        background url('../../images/arrow-right.svg') center center/contain no-repeat
        position absolute
        left 0
        top: 50%;
        transform: translateY(-50%);
  &__title
      text-align center
      color white
      font-family RobotoSlab
      font-weight 700
      font-size 4.6rem

@media (max-width 1000px)
  .Mini-header
    &__title
      font-size 3.6rem
    &__breadcrumbs
      &__link
        font-size 1.4rem
