.Mini-header
  background url('../../images/mini-bg.png') center center/cover no-repeat
  padding 26rem 0 12rem
  &__breadcrumbs
    display flex
    justify-content flex-start
    align-items center
    margin-bottom 5rem
    &_link
      font-family OpenSans
      font-weight 600
      color white
      font-size 1.6rem
      margin-right 2rem
      & svg
        margin-right 1rem
      &_current
        opacity 0.5
    &_separator
      padding-top 0.4rem
      margin-right 2rem
  &__title
      text-align center
      color white
      font-family RobotoSlab
      font-weight 700
      font-size 4.6rem
