.News
  padding 12rem 0 16rem
  background-color #F7F7F7
  position relative
  &__header
    display flex
    justify-content flex-start
    align-items flex-start
    margin-bottom 6rem
  &__caption
    font-family RobotoSlab
    font-weight 700
    font-size 4.6rem
    margin-right 4rem
  &__section
    display flex
    justify-content flex-start
    align-items center
    font-size 1.6rem
    font-weight 700
    color #0690AF
    padding 0.8rem 0.4rem 0.8rem 2.4rem
    border 0.2rem solid #0690AF
    border-radius 10rem
    & span
      display flex
      justify-content center
      align-items center
      width 32px
      height 32px
      background-color #0690AF
      border-radius 50%
      margin-left 2.2rem
      & svg
        width 2rem
        margin-left 0.4rem
        & path
          fill white
  &__subcaption
    font-family RobotoSlab
    font-weight 700
    font-size 3rem
    padding 1.4rem
    border-bottom 0.1rem solid #E0E0E0
    margin-bottom 3rem
  &__block
    display flex
    justify-content space-between
    align-items flex-start
    margin-bottom 6rem
  &__left
    width 62%
  &__right
    width 34%
  &__hot
    display flex
    justify-content space-between
    align-items stretch
    flex-wrap wrap
  &__item
    width 48%
    margin-bottom 6rem
  &__image
    width 100%
    object-fit cover
    height 24rem
    margin-bottom 3rem
  &__date
    display flex
    align-items center
    font-size 1.4rem
    font-weight 600
    color RGB(131, 131, 131)
    margin-bottom 1.2rem
    & img
      margin-right 1rem
  &__title
    font-family RobotoSlab
    font-weight 700
    font-size 2.4rem
    line-height 3rem
    color black
    margin-bottom 1.6rem
    &_small
      margin-bottom 0
      font-size 2rem
    & span
      color #0690AF
  &__text
    color black
    font-size 1.4rem
    line-height 2.2rem
  &__element
    display block
    padding-bottom 1.6rem
    border-bottom 0.1rem solid #E0E0E0
    margin-bottom 2rem
  &__button
    margin 0 auto
    display inline-flex
    justify-content center
    align-items center
    padding 1.6rem 4rem
    border-radius 10rem
    font-size 1.8rem
    color white
    background #0690AF
    cursor pointer
    & img
      margin-right 1rem
  &__footer
    text-align center
  &__replica
    position absolute
    top: -4.4rem;
    right 10%
    max-width 42rem
    width 100%
    display inline-block
    padding 2.8rem 3.6rem 4rem 10rem
    background #00596D url('../../images/Quotes.png') 4rem 2.6rem no-repeat
    &_title
      font-size 2rem
      color white
      line-height 2.7rem
      font-weight 700
      margin-bottom 2rem
    &_whois
      display flex
      align-items center
      color white
    &_img
      width 4.2rem
      height 4.2rem
      object-fit contain
      border-radius 50%
      margin-right 2rem
    &_name
      font-size 1.4rem
      font-weight 600
      margin-bottom 0.2rem

@media (max-width 1000px)
  .News

    &__replica
      display none
    &__block
      display block
    &__left
      width 100%
    &__right
      width 100%
      border-bottom 0.1rem solid #E0E0E0
    &__etc
      display flex
      justify-content space-between
      align-items stretch
    &__element
      width 44%
      border-bottom none
      &:nth-child(n+3)
        display none
@media (max-width 667px)
  .News
    padding-bottom 6rem
    &__hot
      display block
    &__item
      display: block;
      width: 100%;
      margin-bottom 4rem
    &__etc
      display block
    &__element
      width 100%
    &__footer
      display none
  .News__header .News__section
    display none
