
.Press
  padding 12.4rem 0 18rem
  &__navigation,&__pages
    display flex
    justify-content center
    align-items center
  &__page
    display flex
    justify-content center
    align-items center
    font-family OpenSans
    font-weight 600
    font-size 1.6rem
    width 4rem
    height 4rem
    border-radius 50%
    margin-right 0.6rem
    background white
    color black
    transition 0.3s
    &_current
      background #0690af
      color white
  &__left
    margin-right 3rem
    position relative
    &:after
      content ''
      position absolute
      top 50%
      left 0
      transform translateY(-50%)
      background url('../../images/double-arrow.svg') center center/contain no-repeat
      width 13px
      height 14px
  &__right
    margin-left 3rem
    position relative
    &:after
      position absolute
      content ''
      top 50%
      right 0
      transform translateY(-50%)
      background url('../../images/double-arrow-next.svg') center center/contain no-repeat
      width 13px
      height 14px
