
.Press
  padding 12.4rem 0 18rem
  &__navigation,&__pages
    display flex
    justify-content center
    align-items center
  &__page
    display flex
    justify-content center
    align-items center
    font-family OpenSans
    font-weight 600
    font-size 1.6rem
    width 4rem
    height 4rem
    border-radius 50%
    margin-right 0.6rem
    background white
    color black
    transition 0.3s
    &_current
      background #0690af
      color white
  &__left
    margin-right 2rem
  &__right
    margin-left 2rem
